@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-image-gallery/styles/css/image-gallery.css";

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Quicksand&display=swap");

.custom-gallery img {
  height: 520px;
  max-height: 520px;
}

@layer base {
  html {
    font-family: "Quicksand", sans-serif;
  }

  h1 {
    font-family: "Dancing Script", cursive;
  }
}
